# Copier en .env.mlflow et remplir les valeurs
# NE PAS commiter .env.mlflow

# PostgreSQL (Cloud SQL)
DB_USER=mlflow
DB_PASSWORD=changeme
DB_HOST=10.42.32.3
DB_NAME=mlflow

# GCS bucket (récupérer via : cd infra && terraform output mlflow_artifact_root)
ARTIFACT_ROOT=gs://oc-p14-mlflow-artifacts/artifacts
